
  .navbarCtn{
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 2em 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /*padding: 2em 2em 0em; */
    box-sizing: border-box;
    z-index: 1;
  }
  
  .navbarRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container{
    position: relative;
    top: 0;
    left: 0;
    width: 500vw;
    height: 98vh;
    display: flex;
    overflow-x: scroll; 
  }

  .scroller{
    position: absolute;
    position: absolute;
    top: 98%;
    left: 2em;
    transform: translate(0%, -50%);
   /* text-transform: uppercase; */
    cursor: pointer;
    /* line-height: 120%; */
  } 

  section{
    position: relative;
    width: 100vw;
    height: 100%;
    padding: 6em 2em 0 2em;
    display: flex;
    gap: 2em;
    overflow: hidden;
  }

  .img{
    width: 100%;
    /*height: 100%;
    background-position: center; */
    display: flex;
    gap: 1em;
  }

  .section01,
  .section03{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20em;
    width: 100%;
  }

  .textSpan{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    font-size: 24px;
    line-height: 1.2;
  }

  .section5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .nextProject{
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .textNextProject{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 20em;
    gap: 2em;
  }

  .imgNextProject{
    gap: 0;
  }

  .textSpan{
    display: flex;
    justify-content: start;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5
  .img6,
  .img8
  .img9 {
    flex: 1;
  }

  .img7 {
    flex: 2;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  h1{
    text-transform: uppercase;
  }



  /* Add this at the end of your CSS file */
/* .fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} */

  @media (max-width: 768px) {
 
    .navbarCtn{
      position: fixed;
      top: 0;
      width: 100vw;
      padding: 1em 1em;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      box-sizing: border-box;
      z-index: 1;
      font-size: 14px;
    }
    
    .navbarRight{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1em;
    }

    .container h1 {
      font-size: 2.5rem;
      width: 100%;
    }

    .container{
      position: relative;
      top: 0;
      left: 0;
      width: 1000vw;
      height: 95dvh;
      display: flex;
      overflow-x: scroll; 
    }

    .textSpan{
      font-size: 16px;
      gap: 1em;
      width: 100%;
    }

    section{
      gap: 4em;
    }

    .section01,
    .section03{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1em;
      padding: 4em 0em 0 1em;
      width: 300vw;
    }

    .section02 .img,
    .section04 .img {
        flex-wrap: nowrap; 
        overflow-x: auto; 
    }

    .section02 .img img,
    .section04 .img img {
        flex: 0 0 auto;
        width: 30%;
        height: auto;
    }

    .scroller{
      left: 1em;
      top: 97%;
    }

    .section5{
      width: 100vw;
    }

    .nextProject{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1em;
    }

    .textNextProject{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin-left: 0;
      gap: 1em;
    }

}




  /*.timeline{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
  }*/

 /* .marker {
    width: 1px;
    height: 10%;
    background: white;
  } */
