.overlay{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
    text-transform: uppercase;
    font-size: 12px;
}

.rightCtn{
    display: flex;
    flex-direction: row;
    justify-content: end;
}