.overlay{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
    text-transform: uppercase;
    font-size: 14px;
   /*font-family: "Martian Mono", monospace; */
    font-family: "Inter", "Avenir", Helvetica, Arial, sans-serif;
    z-index: 1;
}

.leftCtn{
    position:fixed;
    bottom: 2em;
    left: 2em;
}

.rightCtn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position:fixed;
    bottom: 2em;
    right: 2em;
}


@media (max-width: 768px) {

    .overlay{
        display: grid;
        grid-template-columns: repeat(2,1fr);  
        text-transform: uppercase;
        font-size: 12px;
       /*font-family: "Martian Mono", monospace; */
        font-family: "Inter", "Avenir", Helvetica, Arial, sans-serif;
        z-index: 1;
    }

    .leftCtn,
    .rightCtn{
        position:fixed;
        bottom: 1.5em;
    }
    
    .leftCtn{
        left: 1em;
    }
    
    .rightCtn{
        right: 1em;
    }

}