.titleItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;
    margin-left: 10em;
    margin-top: 10em;
}

.titleItem{
    text-align: left;
}

h1{
    font-size: 5rem;
    letter-spacing: 5px;
    line-height: 0.5;
    font-weight: 400;
}

.titleLink{
    transition: opacity 0.3s;
}

.titleItem:hover .titleLink{
    opacity: 0.3;
}

.titleLink:hover{
    opacity: 1!important;
}



