.navbarCtn{
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /*padding: 2em 2em 0em; */
  box-sizing: border-box;
  z-index: 1;
  text-transform: uppercase;
  /*padding-bottom: 2em;*/
  font-size: 14px;
}

.navbarRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
}


@media (max-width: 768px) {

  .navbarCtn{
    font-size: 12px;
  }

  .navbarRight{
    gap: 1em;
  }
}
