.navbarCtn{
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 2em 4em;
  box-sizing: border-box;
  z-index: 1;
}


.navbarRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
}

