:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  /* font-family: 'DINRoundPro-Medi', sans-serif; */
  /* font-family: "Tahoma", sans-serif; */
  /*font-family: "Instrument Serif", serif; */
  /*font-family: "Neue Montreal", sans-serif;*/
  /*font-family: "Thunder", sans-serif;*/

  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body{
  height: 100dvh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

a{
  text-decoration: none;
  color: aliceblue;
}

span {
  color: aliceblue;
  line-height: 120%;
  letter-spacing: 0%;
  font-weight: 400;
  /*font-family: Verdana, Geneva, sans-serif;*/
 /* font-family: Helvetica, Arial, sans-serif; */
 font-family: "Inter", "Avenir", Helvetica, Arial, sans-serif;
}

h1{
  color: aliceblue;
  margin: 0;
  padding: 0;
  font-size: 5.61rem;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: -5%;
  /*font-family: "Barlow Condensed", sans-serif ;*/
  font-family: "NT Dapper", sans-serif; 
  /*font-family: "Neue Montreal", sans-serif ; */
  /* color: transparent; */
  /* -webkit-text-stroke: 1px white; */
}

h2{
  color: aliceblue;
  margin: 0;
  padding: 0;
  font-size: 4.209rem;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: -5%;
  text-transform: uppercase;
  /*font-family: "Martian Mono", monospace; */
  /*font-family: "Neue Montreal", sans-serif ;*/
  font-family: "NT Dapper", sans-serif;
}

p{
  color: aliceblue;
  margin: 0;
  padding: 0;
  line-height: 120%;
  font-weight: 500;
 /* font-family: "Martian Mono", monospace; */
 /* font-family: "Inter", "Avenir", Helvetica, Arial, sans-serif;*/
 /*font-family: "Neue Montreal", sans-serif ;*/
 font-family: "NT Dapper", sans-serif; 
}


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


